body{
    background-image: url(img5.jpg);
    background-size: cover;
}
.login-page{
    background-color: grey;
    width:auto;
}
.login-page ul{
    list-style-type: none;
    display: inline-flex;
    font-size: 20px;
    color:white;
}
.login-page ul li{
    width:150px;
    margin-left: 20px;
}
.submenu{
    display:none;
}
.container{
    padding:10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
.box1{
    flex:1;
    background-color: aqua;
}
.box1 p{
text-align: justify;
line-height: 1.5;
font-size: 20px;

}
.box2{
    flex:1;
    background-color: antiquewhite;
}
.box2 p{
    text-align: justify;
    line-height: 1.5;
    font-size:20px;
  
}
.box3{
    flex:1;
    background-color: antiquewhite;
}
.box3 H1{
    text-align: center;
}
@media (max-width:600px){
    body{
        background-color:whitesmoke;
    }
}
@media (max-width:600px){
    .login-page ul{
        display:inline-block;
    }
}
